useDynLib(eDMA)
import(methods)
importFrom(Rcpp, evalCpp)
importFrom(xts, xts)
importFrom(zoo, index)
importFrom(parallel, detectCores)
importFrom("stats", "na.omit")
importFrom("utils", "tail")
importFrom("grDevices", "dev.cur", "dev.off")
importFrom("graphics", "axis", "axis.Date", "grid", "layout", "legend", "lines", "par", "points")
importFrom("stats", "as.formula", "model.frame", "model.matrix", "quantile", "sd")
importFrom("utils", "menu")
exportClasses("DMA")
exportMethods("show", "plot", "as.data.frame", "coef", "residuals", "summary", "inclusion.prob", "pred.like", "getLastForecast")
export("BacktestDMA", "DMA", "Lag", "SimulateDLM", "PowerSet")
